<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Home</title>
    {% include "bootstrap.html" %}
    <link rel="stylesheet" href="../static/app_style.css">
</head>
<body>
{% include "nav.html" %}
<br>
<div class="main_content">
<h1>App Home </h1>
<main id="main">
<hr>
<h2>Demo: Last Query/Input</h2>
    <p>Database Records</p>
    <table class="db_return">
    <thead><tr>Records Table</tr></thead>
    <!-- deliver data here -->
    <!-- a for each loop would be nice  -->
    <tr> {{ table_string }} </tr>
    </table>

    <div class="data_from_function">
        <article><span>sample of a single db item: </span>
            {{ db_records }} </article>
        <hr>
        {% include "footer.html" %}
        </div> <!-- data from function div -->
</main>
</div><!-- end div main_content -->
</body>
</html>
